nav {
    height: 120px;
    width: 100%;
    background-color: #4056a1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }

nav span {
    font-family: 'Bungee', cursive;
    padding-left: 1.5em;
    margin-top: 50px;
    font-size: 40px;
}

nav .writeNewTweet {
    text-align: center;
    padding-right: 1.5em;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    transform: scale(1);
    transition: all 0.1s ease-in-out 0.1s;
}

nav p {
    margin: 0;
}

nav i {
    color: rgb(125, 190, 28);
    --fa-beat-fade-opacity: 0.1;
    --fa-beat-fade-scale: 1.25
}

nav .writeNewTweet:hover {
    transform: scale(1.1);
    text-shadow: 3px 3px 20px rgb(125, 190, 28), -2px 1px 30px rgb(125, 190, 28);
}
