section.new-tweet form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

label {
    flex: 100%;
    font-weight: bold;
}

section.new-tweet textarea {
    flex: 100%;
    border-style: none;
    border-bottom: 5px solid #545149;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 15px;
}

section.new-tweet button {
    font-family: 'Bungee', cursive;  
    border-style: none;
    background-color: #4056a1;
    color: #fff;
    padding: 5px 10px;
}

section.new-tweet output {
    font-family: 'Bungee', cursive;
}

section.new-tweet button:hover {
    background-color: #232f57;
}
